<div class="bg-primary">
    <button onclick="goHome()" type="button" class="btn btn-primary">Home</button>
    <button onclick="gotoProducts()" type="button" class="btn btn-primary">Productos</button>
</div>
<script>
    function goHome() {
        let port=location.port;
        location.replace(`http://localhost:${port}/`)
    }
</script>
<script>
    function gotoProducts() {
        let port=location.port;
        location.replace(`http://localhost:${port}/productos`)
    }
</script>