<!DOCTYPE html>
<html>

<head>
  <title>Socket.IO chat</title>
  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<header>
  <%- include('./buttonGroup.ejs')-%>  
</header>
<body>
  <div class="bg-light">
    <h1>Centro de mensajes</h1>
    <ul id="messages"></ul>
    <form id="form" action="">
      <input class="input" type="email" id="username" value="ewahnish@gmail.com" required />
      <input class="input" type="text" id="input" autocomplete="off" placeholder="message" />
      <button type="submit">Enviar</button>
    </form>
    <script src="./index.js"></script>
  </div>
</body>

</html>