<% if(productos.length> 0){ %>
    <h1 class="text-primary">Tabla de productos</h1>
    <div class="table-responsive">
        <table id="products" class="table table-dark table-bordered table-striped">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Imagen</th>
            </tr>
            <%productos.forEach((product)=> {%>
                <tr>
                    <td>
                        <%=product.id%>
                    </td>
                    <td>
                        <%=product.title%>
                    </td>
                    <td>
                        <%=product.price%>
                    </td>
                    <td>
                        <img src="<%=product.thumbnail%>" >
                    </td>
                </tr>
                <%});%>
        </table>
    </div>
    <% } else{ %>
        <h3 class="alert alert-danger">No hay productos</h1>
            <% } %>
