<div class="bg-primary">
    <button onclick="goHome()" type="button" class="btn btn-primary">Home</button>
    <button onclick="gotoProducts()" type="button" class="btn btn-primary">Productos</button>
    <button onclick="emptyMessages()" type="button" class="noDisplay btn btn-primary">Eliminar Mensajes</button>
    <button onclick="emptyMessages()" type="button" class="noDisplay btn btn-primary">Eliminar Productos</button>
</div>
<script>
    function goHome() {
        let port=location.port;
        location.replace(`http://localhost:${port}/`)
    }
</script>
<script>
    function gotoProducts() {
        let port=location.port;
        location.replace(`http://localhost:${port}/productos`)
    }
</script>
<script src="../js/emptyMessages.js"></script>
<script src="../js/emptyProducts.js"></script>